.grid_cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}

.grid_cols .col {
    margin:0  auto;
}

.field_full mat-form-field{
    display: block;
    padding: 10px 0;
    width: 400px;
}
.width-auto{
    width: auto !important;
}

cgdropdown {
    display: block;
    padding: 10px 0;
    width: 400px;
}

.div-padding-10{
    padding: 10px;
}

.debug .col {
    border: 1px solid red;
}

.debug mat-form-field {
    border: 1px solid green;
}